<div class="search-page">
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Danh sách problem
      </li>
    </ol>
  </nav>
  <div class="search-filter mb-4">
    <fieldset class="border p-3 rounded">
      <legend class="float-none w-auto px-2">Tìm kiếm</legend>
      <form [formGroup]="problemForm" (ngSubmit)="onSearch()" class="row g-3">
        <div class="row">
          <div class="col-md-5 form-inline">
            <label for="title" class="form-label">Tên</label>
            <input
              type="text"
              id="title"
              class="form-control form-control"
              formControlName="title"
              name="title"
              width="60%"
              placeholder="Nhập tiêu đề"
            />
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
          <div class="col-md-5 form-inline">
            <label class="form-label">Thời gian</label>
            <input
              id="fromDate"
              type="text"
              placeholder="Từ ngày"
              class="form-control form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue'
              }"
              formControlName="fromDate"
              name="fromDate"
            />
            <input
              id="toDate"
              type="text"
              placeholder="Đến ngày"
              class="form-control form-control"
              bsDatepicker
              [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-dark-blue'
              }"
              name="toDate"
              formControlName="toDate"
            />
          </div>
          <div class="col-md-1"></div>

          <div class="col-md-5 form-inline">
            <label for="sortBy" class="form-label me-2">Sắp xếp theo</label>
            <select
              id="sortBy"
              class="form-select form-select"
              name="sortBy"
              formControlName="orderBy"
              width="60%"
            >
              <option [ngValue]="null">----</option>
              <option value="1">Tên</option>
              <option value="2">Tên hiển thị</option>
              <option value="3">Ngày tạo</option>
              <option value="4">Ngày cập nhật cuối</option>
            </select>
          </div>
        </div>
        <div class="col-12 text-end">
          <button
            type="button"
            class="btn btn-secondary me-2 btn"
            (click)="onClear()"
          >
            Xóa bộ lọc
          </button>
          <button type="submit" class="btn btn-primary btn">Tìm kiếm</button>
        </div>
      </form>
    </fieldset>
  </div>

  <div class="datagrid-area">
    @if(problemService.paginatedResult()) {
    <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
      <div class="d-flex align-items-center ms-2">
        <label for="pageSize" class="form-label me-2 mb-0">Số bản ghi:</label>
        <select
          id="pageSize"
          class="form-select w-auto"
          [(ngModel)]="pageSize"
          (change)="onPageSizeChange()"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>

      <div class="text-end me-2">
        Hiển thị {{ problemService.paginatedResult()!.data.length }} trên tổng
        số {{ problemService.paginatedResult()!.totalCount }} bản ghi
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="problemService.paginatedResult()!.totalCount"
        [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        [(ngModel)]="pageNumber"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
    <div class="table-container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Tiêu đề</th>
            <th scope="col">Độ khó</th>
            <th scope="col">Giới hạn thời gian</th>
            <th scope="col">Giới hạn bộ nhớ</th>
            <th scope="col">Ngày tạo</th>
            <th scope="col">Người tạo</th>
            <th scope="col">Ngày cập nhật cuối</th>
            <th scope="col">Người cập nhật</th>
          </tr>
        </thead>
        <tbody>
          @for (problem of problemService.paginatedResult()?.data; track
          problem.id) {
          <tr (click)="onRowClick(problem.id)" style="cursor: pointer">
            <td>{{ problem.title }}</td>
            <td>
              {{
                problem.difficulty === 1
                  ? "Dễ"
                  : problem.difficulty === 2
                  ? "Trung bình"
                  : "Khó"
              }}
            </td>
            <td>{{ problem.timeLimit }} giây</td>
            <td>{{ problem.memoryLimit }} MB</td>
            <td>{{ problem.createdAt | date : "dd/MM/yyyy" }}</td>
            <td>{{ problem.createdByName }}</td>
            <td>
              {{
                problem.updatedAt
                  ? (problem.updatedAt | date : "dd/MM/yyyy")
                  : "N/A"
              }}
            </td>
            <td>{{ problem.updatedByName || "N/A" }}</td>
          </tr>
          } @empty {
          <tr>
            <td colspan="8" style="text-align: center">Không có dữ liệu</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
</div>
